---
const {frontmatter} = Astro.props;
---
<html>
<head>
  <title>{frontmatter.title}</title>
  <meta charset="utf-8"/>
  <meta name="description" content={frontmatter.description} />
  <link rel="icon" type="image/png" sizes="16x16" href={frontmatter.img}>
</head>
<!-- ... -->
<slot /> <!-- Markdown content is injected here -->
<!-- ... -->
</html>
