---
import DarkImage from '../img/Dark.png';
import colors from 'consumer-tonic-design-system/grouped_design_token.json';

---

<!DOCTYPE html>
<html lang="zh-tw">
<head>
  <title>Color Palette</title>
  <meta charset="utf-8"/>
  <link rel="icon" type="image/png" sizes="16x16" href={DarkImage}>
</head>
<body>
<main class="h-screen content-center p-8">
  <h1 class="flex text-3xl items-center mb-16">
    <img class="mr-4" src={DarkImage} alt="logo" width="50" height="50"/>
    Token - Color Palettes
  </h1>
  <div class="flex flex-wrap gap-4">
  </div>
</main>
</body>
</html>
