/* figma define : https://www.figma.com/file/FPcYhygcr22tZS08P7hFF8/branch/br6Diik6cv6zQUvrit6RQV/%F0%9F%8F%A0-Consumer-Tonic---UI-Components?type=design&node-id=35951-10712&mode=design&t=ldjOzrnvDwkiroPn-0 */

.tcsmd-btn-disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.tcsmd-btn-disabled:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-btn-loading {
  /* @apply bg-tcsmd-gray-28;  background: #D5D5D5; */

  border: none;
  cursor: wait;
}

.tcsmd-btn-loading:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-btn {
  /* width = border + padding + width */
  border-width: 2px;
  border-color: transparent;
  padding: 10px 24px;
  font-size: 18px;
  line-height: normal; /* default value of roughly 1.2, depending on the element's font-family. */
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;

  border-radius: 4px;
  margin: 4px;
}

.tcsmd-btn.rounded {
    border-radius: 999px;
  }

.tcsmd-btn.xs {
    padding: 5px 16px; /* height = 24px , font-size = 14px , line-height = normal */
  }

.tcsmd-btn.small {
    padding: 7px 24px;
  }

.tcsmd-btn.large {
    padding: 20px 40px;
  }

.tcsmd-text-btn {
  border-width: 2px;
  border-color: transparent;
  background-color: transparent; /* background-color: transparent */

  padding: 10px 24px; /* height = 40px , font-size = 18px , line-height = normal */
  font-size: 18px;
  line-height: normal; /* default value of roughly 1.2, depending on the element's font-family. */
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;


  border-radius: 4px;
  margin: 4px;
}

.tcsmd-text-btn.rounded {
    border-radius: 999px;
  }

.tcsmd-text-btn.xs {
    padding: 5px 16px; /* height = 24px , font-size = 14px , line-height = normal */
  }

.tcsmd-text-btn.small {
    padding: 7px 24px;
  }

.tcsmd-text-btn.large {
    padding: 20px 40px;
  }

.tcsmd-text-btn:hover, .tcsmd-text-btn.hover {
  background-color: var(--tcsmd-gray-22);
}

.tcsmd-text-btn:active, .tcsmd-text-btn.active {
  background-color: var(--tcsmd-gray-26);
}

.tcsmd-text-btn:disabled, .tcsmd-text-btn.disabled {
  background-color: transparent;
  opacity: 0.4;
  cursor: not-allowed;
}

.tcsmd-text-btn:disabled:focus, .tcsmd-text-btn.disabled:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-text-btn:disabled:focus, .tcsmd-text-btn:disabled.focus, .tcsmd-text-btn.disabled:focus, .tcsmd-text-btn.disabled.focus {
  border-color: transparent;
}

.tcsmd-text-btn.loading {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  /* @apply bg-tcsmd-gray-28;  background: #D5D5D5; */

  border: none;
  cursor: wait;
}

.tcsmd-text-btn.loading:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-text-btn:focus, .tcsmd-text-btn.focus {
  border-color: var(--tcsmd-blue-60);
    /* border: 2px solid #0074E8 */
}

/* ----  Normal Button  ---- */

.tcsmd-btn-primary {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: var(--enabled-primary-start) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--enabled-primary-end) var(--tw-gradient-to-position);
  color: var(--tcsmd-white);
  /* width = border + padding + width */
  border-width: 2px;
  border-color: transparent;
  padding: 10px 24px;
  font-size: 18px;
  line-height: normal; /* default value of roughly 1.2, depending on the element's font-family. */
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;

  border-radius: 4px;
  margin: 4px;
}

.tcsmd-btn-primary.rounded {
    border-radius: 999px;
  }

.tcsmd-btn-primary.xs {
    padding: 5px 16px; /* height = 24px , font-size = 14px , line-height = normal */
  }

.tcsmd-btn-primary.small {
    padding: 7px 24px;
  }

.tcsmd-btn-primary.large {
    padding: 20px 40px;
  }

.tcsmd-btn-primary:hover, .tcsmd-btn-primary.hover {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: var(--hover-primary-start) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--hover-primary-end) var(--tw-gradient-to-position);
}

.tcsmd-btn-primary:active, .tcsmd-btn-primary.active {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: var(--active-primary-start) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--active-primary-end) var(--tw-gradient-to-position);
}

.tcsmd-btn-primary:disabled, .tcsmd-btn-primary.disabled {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: var(--enabled-primary-start) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--enabled-primary-end) var(--tw-gradient-to-position);
  opacity: 0.4;
  cursor: not-allowed;
}

.tcsmd-btn-primary:disabled:focus, .tcsmd-btn-primary.disabled:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-btn-primary.loading {
  --tw-gradient-from: var(--enabled-primary-start) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--enabled-primary-end) var(--tw-gradient-to-position);
  /* @apply bg-tcsmd-gray-28;  background: #D5D5D5; */

  border: none;
  cursor: wait;
}

.tcsmd-btn-primary.loading:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-btn-primary:focus, .tcsmd-btn-primary.focus {
  border-width: 2px;
  border-color: var(--tcsmd-blue-60);
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 1);
}

.tcsmd-btn-default {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: var(--enabled-default-start) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--enabled-default-end) var(--tw-gradient-to-position);
  color: var(--tcsmd-color-text-primary);
  /* width = border + padding + width */
  border-width: 2px;
  border-color: transparent;
  padding: 10px 24px;
  font-size: 18px;
  line-height: normal; /* default value of roughly 1.2, depending on the element's font-family. */
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;

  border-radius: 4px;
  margin: 4px;
}

.tcsmd-btn-default.rounded {
    border-radius: 999px;
  }

.tcsmd-btn-default.xs {
    padding: 5px 16px; /* height = 24px , font-size = 14px , line-height = normal */
  }

.tcsmd-btn-default.small {
    padding: 7px 24px;
  }

.tcsmd-btn-default.large {
    padding: 20px 40px;
  }

.tcsmd-btn-default {
  border: 0.5px solid #8e8e8e;
}

.tcsmd-btn-default:hover, .tcsmd-btn-default.hover {
  --tw-gradient-from: var(--hover-default-start) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--hover-default-end) var(--tw-gradient-to-position);
}

.tcsmd-btn-default:active, .tcsmd-btn-default.active {
  --tw-gradient-from: var(--active-default-start) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--active-default-end) var(--tw-gradient-to-position);
}

.tcsmd-btn-default:disabled, .tcsmd-btn-default.disabled {
  --tw-gradient-from: var(--enabled-default-start) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--enabled-default-end) var(--tw-gradient-to-position);
  opacity: 0.4;
  cursor: not-allowed;
}

.tcsmd-btn-default:disabled:focus, .tcsmd-btn-default.disabled:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-btn-default:disabled:focus, .tcsmd-btn-default:disabled.focus, .tcsmd-btn-default.disabled:focus, .tcsmd-btn-default.disabled.focus {
  border-color: var(--tcsmd-gray-50);
}

.tcsmd-btn-default.loading {
  --tw-gradient-from: var(--enabled-default-start) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--enabled-default-end) var(--tw-gradient-to-position);
  /* @apply bg-tcsmd-gray-28;  background: #D5D5D5; */

  border: none;
  cursor: wait;
}

.tcsmd-btn-default.loading:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-btn-default:focus, .tcsmd-btn-default.focus {
  border-color: var(--tcsmd-blue-60);
    box-shadow: inset 0 0 0 1.5px var(--tcsmd-blue-60);
}

.tcsmd-btn-emphasis {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: var(--enabled-emphasis-start) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--enabled-emphasis-end) var(--tw-gradient-to-position);
  color: var(--tcsmd-white);
  /* width = border + padding + width */
  border-width: 2px;
  border-color: transparent;
  padding: 10px 24px;
  font-size: 18px;
  line-height: normal; /* default value of roughly 1.2, depending on the element's font-family. */
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;

  border-radius: 4px;
  margin: 4px;
}

.tcsmd-btn-emphasis.rounded {
    border-radius: 999px;
  }

.tcsmd-btn-emphasis.xs {
    padding: 5px 16px; /* height = 24px , font-size = 14px , line-height = normal */
  }

.tcsmd-btn-emphasis.small {
    padding: 7px 24px;
  }

.tcsmd-btn-emphasis.large {
    padding: 20px 40px;
  }

.tcsmd-btn-emphasis:hover, .tcsmd-btn-emphasis.hover {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: var(--hover-emphasis-start) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--hover-emphasis-end) var(--tw-gradient-to-position);
}

.tcsmd-btn-emphasis:active, .tcsmd-btn-emphasis.active {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: var(--active-emphasis-start) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--active-emphasis-end) var(--tw-gradient-to-position);
}

.tcsmd-btn-emphasis:disabled, .tcsmd-btn-emphasis.disabled {
  --tw-gradient-from: var(--enabled-emphasis-start) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--enabled-emphasis-end) var(--tw-gradient-to-position);
  opacity: 0.4;
  cursor: not-allowed;
}

.tcsmd-btn-emphasis:disabled:focus, .tcsmd-btn-emphasis.disabled:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-btn-emphasis.loading {
  --tw-gradient-from: var(--enabled-emphasis-start) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--enabled-emphasis-end) var(--tw-gradient-to-position);
  /* @apply bg-tcsmd-gray-28;  background: #D5D5D5; */

  border: none;
  cursor: wait;
}

.tcsmd-btn-emphasis.loading:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-btn-emphasis:focus, .tcsmd-btn-emphasis.focus {
  border-width: 2px;
  border-color: var(--tcsmd-blue-60);
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 1);
}

.tcsmd-btn-ghost {
  border-color: var(--tcsmd-gray-26);
  background-color: transparent;
  color: var(--tcsmd-color-text-primary);
  /* width = border + padding + width */
  border-width: 2px;
  border-color: transparent;
  padding: 10px 24px;
  font-size: 18px;
  line-height: normal; /* default value of roughly 1.2, depending on the element's font-family. */
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;

  border-radius: 4px;
  margin: 4px;
}

.tcsmd-btn-ghost.rounded {
    border-radius: 999px;
  }

.tcsmd-btn-ghost.xs {
    padding: 5px 16px; /* height = 24px , font-size = 14px , line-height = normal */
  }

.tcsmd-btn-ghost.small {
    padding: 7px 24px;
  }

.tcsmd-btn-ghost.large {
    padding: 20px 40px;
  }

.tcsmd-btn-ghost {
  border-width:1px;
}

.tcsmd-btn-ghost:hover, .tcsmd-btn-ghost.hover {
  border-color: var(--tcsmd-gray-50);
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: var(--hover-ghost-start) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--hover-ghost-end) var(--tw-gradient-to-position);
}

.tcsmd-btn-ghost:active, .tcsmd-btn-ghost.active {
  border-color: var(--tcsmd-gray-50);
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: var(--active-ghost-start) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--active-ghost-end) var(--tw-gradient-to-position);
}

.tcsmd-btn-ghost:disabled, .tcsmd-btn-ghost.disabled {
  border-color: var(--tcsmd-gray-30);
  --tw-gradient-from: transparent var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
  opacity: 0.4;
  cursor: not-allowed;
}

.tcsmd-btn-ghost:disabled:focus, .tcsmd-btn-ghost.disabled:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-btn-ghost:disabled:focus, .tcsmd-btn-ghost:disabled.focus, .tcsmd-btn-ghost.disabled:focus, .tcsmd-btn-ghost.disabled.focus {
  border-color: var(--tcsmd-gray-30);
}

.tcsmd-btn-ghost.loading {
  border-color: var(--tcsmd-gray-30);
  /* @apply bg-tcsmd-gray-28;  background: #D5D5D5; */

  border: none;
  cursor: wait;
}

.tcsmd-btn-ghost.loading:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-btn-ghost.loading .loader {
  border-color: var(--tcsmd-gray-26);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
      border-width:1px;
}

.tcsmd-btn-ghost:focus, .tcsmd-btn-ghost.focus {
  border-color: var(--tcsmd-blue-60);
    box-shadow: inset 0 0 0 1.5px var(--tcsmd-blue-60);
}

/* ----  Text Button  ---- */

.tcsmd-text-btn-primary {
  color: var(--tcsmd-color-text-primary);
  border-width: 2px;
  border-color: transparent;
  background-color: transparent; /* background-color: transparent */

  padding: 10px 24px; /* height = 40px , font-size = 18px , line-height = normal */
  font-size: 18px;
  line-height: normal; /* default value of roughly 1.2, depending on the element's font-family. */
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;


  border-radius: 4px;
  margin: 4px;
}

.tcsmd-text-btn-primary.rounded {
    border-radius: 999px;
  }

.tcsmd-text-btn-primary.xs {
    padding: 5px 16px; /* height = 24px , font-size = 14px , line-height = normal */
  }

.tcsmd-text-btn-primary.small {
    padding: 7px 24px;
  }

.tcsmd-text-btn-primary.large {
    padding: 20px 40px;
  }

.tcsmd-text-btn-primary:hover,.tcsmd-text-btn-primary.hover {
  background-color: var(--tcsmd-gray-22);
}

.tcsmd-text-btn-primary:active,.tcsmd-text-btn-primary.active {
  background-color: var(--tcsmd-gray-26);
}

.tcsmd-text-btn-primary:disabled,.tcsmd-text-btn-primary.disabled {
  background-color: transparent;
  opacity: 0.4;
  cursor: not-allowed;
}

.tcsmd-text-btn-primary:disabled:focus,.tcsmd-text-btn-primary.disabled:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-text-btn-primary:disabled,.tcsmd-text-btn-primary.disabled {
  background-color: transparent;
  opacity: 0.4;
  cursor: not-allowed;
}

.tcsmd-text-btn-primary:disabled:focus,.tcsmd-text-btn-primary.disabled:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-text-btn-primary:disabled:focus,.tcsmd-text-btn-primary:disabled.focus,.tcsmd-text-btn-primary.disabled:focus,.tcsmd-text-btn-primary.disabled.focus {
  border-color: transparent;
}

.tcsmd-text-btn-primary.loading {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  /* @apply bg-tcsmd-gray-28;  background: #D5D5D5; */

  border: none;
  cursor: wait;
}

.tcsmd-text-btn-primary.loading:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-text-btn-primary:focus,.tcsmd-text-btn-primary.focus {
  border-color: var(--tcsmd-blue-60);
    /* border: 2px solid #0074E8 */
    /* border: 2px solid #0074E8 */
}

.tcsmd-text-btn-default {
  color: var(--tcsmd-color-brand-trend-red);
  border-width: 2px;
  border-color: transparent;
  background-color: transparent; /* background-color: transparent */

  padding: 10px 24px; /* height = 40px , font-size = 18px , line-height = normal */
  font-size: 18px;
  line-height: normal; /* default value of roughly 1.2, depending on the element's font-family. */
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;


  border-radius: 4px;
  margin: 4px;
}

.tcsmd-text-btn-default.rounded {
    border-radius: 999px;
  }

.tcsmd-text-btn-default.xs {
    padding: 5px 16px; /* height = 24px , font-size = 14px , line-height = normal */
  }

.tcsmd-text-btn-default.small {
    padding: 7px 24px;
  }

.tcsmd-text-btn-default.large {
    padding: 20px 40px;
  }

.tcsmd-text-btn-default:hover,.tcsmd-text-btn-default.hover {
  background-color: var(--tcsmd-gray-22);
}

.tcsmd-text-btn-default:active,.tcsmd-text-btn-default.active {
  background-color: var(--tcsmd-gray-26);
}

.tcsmd-text-btn-default:disabled,.tcsmd-text-btn-default.disabled {
  background-color: transparent;
  opacity: 0.4;
  cursor: not-allowed;
}

.tcsmd-text-btn-default:disabled:focus,.tcsmd-text-btn-default.disabled:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-text-btn-default:disabled,.tcsmd-text-btn-default.disabled {
  background-color: transparent;
  opacity: 0.4;
  cursor: not-allowed;
}

.tcsmd-text-btn-default:disabled:focus,.tcsmd-text-btn-default.disabled:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-text-btn-default:disabled:focus,.tcsmd-text-btn-default:disabled.focus,.tcsmd-text-btn-default.disabled:focus,.tcsmd-text-btn-default.disabled.focus {
  border-color: transparent;
}

.tcsmd-text-btn-default.loading {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  /* @apply bg-tcsmd-gray-28;  background: #D5D5D5; */

  border: none;
  cursor: wait;
}

.tcsmd-text-btn-default.loading:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-text-btn-default:focus,.tcsmd-text-btn-default.focus {
  border-color: var(--tcsmd-blue-60);
    /* border: 2px solid #0074E8 */
    /* border: 2px solid #0074E8 */
}

.tcsmd-text-btn-emphasis {
  color: var(--tcsmd-blue-60);
  border-width: 2px;
  border-color: transparent;
  background-color: transparent; /* background-color: transparent */

  padding: 10px 24px; /* height = 40px , font-size = 18px , line-height = normal */
  font-size: 18px;
  line-height: normal; /* default value of roughly 1.2, depending on the element's font-family. */
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;


  border-radius: 4px;
  margin: 4px;
}

.tcsmd-text-btn-emphasis.rounded {
    border-radius: 999px;
  }

.tcsmd-text-btn-emphasis.xs {
    padding: 5px 16px; /* height = 24px , font-size = 14px , line-height = normal */
  }

.tcsmd-text-btn-emphasis.small {
    padding: 7px 24px;
  }

.tcsmd-text-btn-emphasis.large {
    padding: 20px 40px;
  }

.tcsmd-text-btn-emphasis:hover,.tcsmd-text-btn-emphasis.hover {
  background-color: var(--tcsmd-gray-22);
}

.tcsmd-text-btn-emphasis:active,.tcsmd-text-btn-emphasis.active {
  background-color: var(--tcsmd-gray-26);
}

.tcsmd-text-btn-emphasis:disabled,.tcsmd-text-btn-emphasis.disabled {
  background-color: transparent;
  opacity: 0.4;
  cursor: not-allowed;
}

.tcsmd-text-btn-emphasis:disabled:focus,.tcsmd-text-btn-emphasis.disabled:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-text-btn-emphasis:disabled,.tcsmd-text-btn-emphasis.disabled {
  background-color: transparent;
  opacity: 0.4;
  cursor: not-allowed;
}

.tcsmd-text-btn-emphasis:disabled:focus,.tcsmd-text-btn-emphasis.disabled:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-text-btn-emphasis:disabled:focus,.tcsmd-text-btn-emphasis:disabled.focus,.tcsmd-text-btn-emphasis.disabled:focus,.tcsmd-text-btn-emphasis.disabled.focus {
  border-color: transparent;
}

.tcsmd-text-btn-emphasis.loading {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  /* @apply bg-tcsmd-gray-28;  background: #D5D5D5; */

  border: none;
  cursor: wait;
}

.tcsmd-text-btn-emphasis.loading:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-text-btn-emphasis:focus,.tcsmd-text-btn-emphasis.focus {
  border-color: var(--tcsmd-blue-60);
    /* border: 2px solid #0074E8 */
    /* border: 2px solid #0074E8 */
}

.hr {
  margin: 16px 0;
  width: 100%;
}

.icon-plus {
  /* tool : https://yoksel.github.io/url-encoder/ */
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.49983 1.5C8.49983 1.22386 8.27598 1 7.99983 1C7.72369 1 7.49983 1.22386 7.49983 1.5L7.49983 7.5H1.5C1.22386 7.5 1 7.72386 1 8C1 8.27614 1.22386 8.5 1.5 8.5H7.49983L7.49983 14.4996C7.49983 14.7757 7.72369 14.9996 7.99983 14.9996C8.27597 14.9996 8.49983 14.7757 8.49983 14.4996L8.49983 8.5H14.4996C14.7757 8.5 14.9996 8.27614 14.9996 8C14.9996 7.72386 14.7757 7.5 14.4996 7.5H8.49983L8.49983 1.5Z' /%3E%3C/svg%3E%0A");
  background-position: 1px center;
  width: 16px;
  height: 16px;
}

.icon-plus.white {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.49983 1.5C8.49983 1.22386 8.27598 1 7.99983 1C7.72369 1 7.49983 1.22386 7.49983 1.5L7.49983 7.5H1.5C1.22386 7.5 1 7.72386 1 8C1 8.27614 1.22386 8.5 1.5 8.5H7.49983L7.49983 14.4996C7.49983 14.7757 7.72369 14.9996 7.99983 14.9996C8.27597 14.9996 8.49983 14.7757 8.49983 14.4996L8.49983 8.5H14.4996C14.7757 8.5 14.9996 8.27614 14.9996 8C14.9996 7.72386 14.7757 7.5 14.4996 7.5H8.49983L8.49983 1.5Z' /%3E%3C/svg%3E%0A");
  }

/* https://fontello.com/ - svg to @font-face ~ https://yunusozcan.medium.com/how-to-create-icon-font-like-font-awesome-ce32ea7c7385 */

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: inherit;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg.circle-progress {
  width: 24px;
  height: 24px;
}

svg.circle-progress .bg {
  fill: none;
  stroke-width: 2px;
  stroke: currentColor;
  opacity: 0.4;
}

svg.circle-progress .progress {
  fill: none;
  stroke-width: 2px;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-dasharray: 60;
  transform-origin: 50% 50%;
  animation: progress-circular-dash 1.4s ease-in-out infinite,progress-circular-rotate 1.4s linear infinite;
}

@keyframes progress-circular-dash {
  0% {
    stroke-dashoffset: 10;
  }
  30% {
    stroke-dashoffset: 55;
  }
  31% {
    stroke-dashoffset: 55;
  }
  100% {
    stroke-dashoffset: 10;
  }
}

@keyframes progress-circular-rotate {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(720deg);
  }
  31% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}

