---
import DarkImage from "../../assets/Dark.png";

const btnVariants = [
  'tcsmd-btn-primary', 'tcsmd-btn-default', 'tcsmd-btn-emphasis', 'tcsmd-btn-ghost',
  'tcsmd-text-btn-primary', 'tcsmd-text-btn-default', 'tcsmd-text-btn-emphasis',
];
const states = ['enabled', 'hover', 'active', 'disabled', 'loading', 'focus'];

const textColor = variant => ['default','ghost'].includes(variant) ? 'text-black' : 'text-white' ;
---

<!DOCTYPE html>
<html lang="zh-tw">
<head>
  <title>Color Palette</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="icon" type="image/png" sizes="16x16" href={DarkImage}>
</head>
<body>
<main class="min-h-screen content-center p-8">
  <div class="flex flex-wrap gap-8">
    {
      ['color','button','typology','input','tab'].map(page=>(
        <div>
          <a href={`${page}`}>
            <button class="tcsmd-btn-primary">
              To {page} Page
            </button>
          </a>
          <iframe class="w-[500px] h-[500px] border-2 rounded-2xl border-amber-200" src={`${page}/index.html`}>
            你的瀏覽器不支援 iframe
          </iframe>
        </div>
      ))
    }
  </div>
</main>
</body>
</html>
