/* figma define : https://www.figma.com/file/FPcYhygcr22tZS08P7hFF8/branch/br6Diik6cv6zQUvrit6RQV/%F0%9F%8F%A0-Consumer-Tonic---UI-Components?type=design&node-id=35951-10712&mode=design&t=ldjOzrnvDwkiroPn-0 */

.tcsmd-btn-disabled {
  opacity: 0.4;
  /* cursor: not-allowed; */
  pointer-events: none;
}

.tcsmd-btn-disabled::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    pointer-events: auto;
    cursor: not-allowed;
  }

.tcsmd-btn-disabled:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-btn-loading {
  /* @apply bg-tcsmd-gray-28;  background: #D5D5D5; */

  border: none;
  /* cursor: wait; */
  pointer-events: none;
}

.tcsmd-btn-loading::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    pointer-events: auto;
    cursor: wait;
  }

.tcsmd-btn-loading:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-btn {
  /* width = border + padding + width */
  min-height: 40px;
  border-radius: 4px;
  border-width: 2px;
  padding: 7px 24px; /* height = 40px */
  font-size: 18px;
  line-height: 20px; /* default value of roughly 1.2, depending on the element's font-family. */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;

  min-width: 100px;

  margin: 4px;
}

.tcsmd-btn.rounded {
  border-radius: 999px;
}

.tcsmd-btn.xs {
  min-height: 24px;
    padding: 0 16px; /* height = 24px */
    min-width: 60px;
}

.tcsmd-btn.small {
  min-height: 32px;
    padding: 4px 24px; /* height = 32px */
    min-width: 80px;
}

.tcsmd-btn.large {
  min-height: 60px;
    padding: 17px 40px; /* height = 60px */
    min-width: 100px;
}

.tcsmd-text-btn {
  min-height: 40px;
  border-radius: 4px;
  border-width: 2px;
  border-color: transparent;
  background-color: transparent; /* background-color: transparent */

  padding: 10px 24px; /* height = 40px */
  font-size: 18px;
  line-height: 20px; /* default value of roughly 1.2, depending on the element's font-family. */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;

  min-width: 100px;

  margin: 4px;
}

.tcsmd-text-btn.rounded {
  border-radius: 999px;
}

.tcsmd-text-btn.xs {
  min-height: 24px;
    padding: 0 16px; /* height = 24px */
    min-width: 60px;
}

.tcsmd-text-btn.small {
  min-height: 32px;
    padding: 4px 24px; /* height = 32px */
    min-width: 80px;
}

.tcsmd-text-btn.large {
  min-height: 60px;
    padding: 17px 40px; /* height = 60px */
    min-width: 100px;
}

.tcsmd-text-btn:hover, .tcsmd-text-btn.hover {
  background-color: var(--tcsmd-ref-palette-gray-22);
}

.tcsmd-text-btn:active, .tcsmd-text-btn.active {
  background-color: var(--tcsmd-ref-palette-gray-26);
}

.tcsmd-text-btn:disabled, .tcsmd-text-btn.disabled {
  background-color: transparent;
  opacity: 0.4;
  /* cursor: not-allowed; */
  pointer-events: none;
}

.tcsmd-text-btn:disabled::before, .tcsmd-text-btn.disabled::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    pointer-events: auto;
    cursor: not-allowed;
  }

.tcsmd-text-btn:disabled:focus, .tcsmd-text-btn.disabled:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-text-btn:disabled:focus, .tcsmd-text-btn:disabled.focus, .tcsmd-text-btn.disabled:focus, .tcsmd-text-btn.disabled.focus {
  border-color: transparent;
}

.tcsmd-text-btn.loading {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  /* @apply bg-tcsmd-gray-28;  background: #D5D5D5; */

  border: none;
  /* cursor: wait; */
  pointer-events: none;
}

.tcsmd-text-btn.loading::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    pointer-events: auto;
    cursor: wait;
  }

.tcsmd-text-btn.loading:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-text-btn:focus, .tcsmd-text-btn.focus {
  border-color: var(--tcsmd-ref-palette-blue-60);
}

/* ----  Normal Button  ---- */

.tcsmd-btn-primary {
  border-color: transparent;
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: var(--tcsmd-red-60) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--tcsmd-red-70) var(--tw-gradient-to-position);
  color: var(--tcsmd-ref-palette-white);
  /* width = border + padding + width */
  min-height: 40px;
  border-radius: 4px;
  border-width: 2px;
  padding: 7px 24px; /* height = 40px */
  font-size: 18px;
  line-height: 20px; /* default value of roughly 1.2, depending on the element's font-family. */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;

  min-width: 100px;

  margin: 4px;
}

.tcsmd-btn-primary.rounded {
  border-radius: 999px;
}

.tcsmd-btn-primary.xs {
  min-height: 24px;
    padding: 0 16px; /* height = 24px */
    min-width: 60px;
}

.tcsmd-btn-primary.small {
  min-height: 32px;
    padding: 4px 24px; /* height = 32px */
    min-width: 80px;
}

.tcsmd-btn-primary.large {
  min-height: 60px;
    padding: 17px 40px; /* height = 60px */
    min-width: 100px;
}

.tcsmd-btn-primary:hover, .tcsmd-btn-primary.hover {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: var(--tcsmd-red-70) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--tcsmd-red-80) var(--tw-gradient-to-position);
}

.tcsmd-btn-primary:active, .tcsmd-btn-primary.active {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: var(--tcsmd-red-80) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--tcsmd-red-90) var(--tw-gradient-to-position);
}

.tcsmd-btn-primary:disabled, .tcsmd-btn-primary.disabled {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: var(--tcsmd-red-60) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--tcsmd-red-70) var(--tw-gradient-to-position);
  opacity: 0.4;
  /* cursor: not-allowed; */
  pointer-events: none;
}

.tcsmd-btn-primary:disabled::before, .tcsmd-btn-primary.disabled::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    pointer-events: auto;
    cursor: not-allowed;
  }

.tcsmd-btn-primary:disabled:focus, .tcsmd-btn-primary.disabled:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-btn-primary.loading {
  --tw-gradient-from: var(--tcsmd-red-60) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--tcsmd-red-70) var(--tw-gradient-to-position);
  /* @apply bg-tcsmd-gray-28;  background: #D5D5D5; */

  border: none;
  /* cursor: wait; */
  pointer-events: none;
}

.tcsmd-btn-primary.loading::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    pointer-events: auto;
    cursor: wait;
  }

.tcsmd-btn-primary.loading:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-btn-primary:focus, .tcsmd-btn-primary.focus {
  border-width: 2px;
  border-color: var(--tcsmd-ref-palette-blue-60);
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 1);
}

.tcsmd-btn-default {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: var(--tcsmd-gray-10) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--tcsmd-gray-20) var(--tw-gradient-to-position);
  color: var(--tcsmd-ref-palette-gray-90);
  /* width = border + padding + width */
  min-height: 40px;
  border-radius: 4px;
  border-width: 2px;
  padding: 7px 24px; /* height = 40px */
  font-size: 18px;
  line-height: 20px; /* default value of roughly 1.2, depending on the element's font-family. */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;

  min-width: 100px;

  margin: 4px;
}

.tcsmd-btn-default.rounded {
  border-radius: 999px;
}

.tcsmd-btn-default.xs {
  min-height: 24px;
    padding: 0 16px; /* height = 24px */
    min-width: 60px;
}

.tcsmd-btn-default.small {
  min-height: 32px;
    padding: 4px 24px; /* height = 32px */
    min-width: 80px;
}

.tcsmd-btn-default.large {
  min-height: 60px;
    padding: 17px 40px; /* height = 60px */
    min-width: 100px;
}

.tcsmd-btn-default {
  border: 0.5px solid #8e8e8e;
}

.tcsmd-btn-default:hover, .tcsmd-btn-default.hover {
  --tw-gradient-from: var(--tcsmd-gray-22) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--tcsmd-gray-24) var(--tw-gradient-to-position);
}

.tcsmd-btn-default:active, .tcsmd-btn-default.active {
  --tw-gradient-from: var(--tcsmd-gray-26) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--tcsmd-gray-28) var(--tw-gradient-to-position);
}

.tcsmd-btn-default:disabled, .tcsmd-btn-default.disabled {
  --tw-gradient-from: var(--tcsmd-gray-10) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--tcsmd-gray-20) var(--tw-gradient-to-position);
  opacity: 0.4;
  /* cursor: not-allowed; */
  pointer-events: none;
}

.tcsmd-btn-default:disabled::before, .tcsmd-btn-default.disabled::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    pointer-events: auto;
    cursor: not-allowed;
  }

.tcsmd-btn-default:disabled:focus, .tcsmd-btn-default.disabled:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-btn-default:disabled:focus, .tcsmd-btn-default:disabled.focus, .tcsmd-btn-default.disabled:focus, .tcsmd-btn-default.disabled.focus {
  border-color: var(--tcsmd-ref-palette-gray-50);
}

.tcsmd-btn-default.loading {
  --tw-gradient-from: var(--tcsmd-gray-10) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--tcsmd-gray-20) var(--tw-gradient-to-position);
  /* @apply bg-tcsmd-gray-28;  background: #D5D5D5; */

  border: none;
  /* cursor: wait; */
  pointer-events: none;
}

.tcsmd-btn-default.loading::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    pointer-events: auto;
    cursor: wait;
  }

.tcsmd-btn-default.loading:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-btn-default:focus, .tcsmd-btn-default.focus {
  border-color: var(--tcsmd-ref-palette-blue-60);
    box-shadow: inset 0 0 0 1.5px var(--tcsmd-ref-palette-blue-60);
}

.tcsmd-btn-emphasis {
  border-color: transparent;
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: var(--tcsmd-blue-60) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--tcsmd-blue-70) var(--tw-gradient-to-position);
  color: var(--tcsmd-ref-palette-white);
  /* width = border + padding + width */
  min-height: 40px;
  border-radius: 4px;
  border-width: 2px;
  padding: 7px 24px; /* height = 40px */
  font-size: 18px;
  line-height: 20px; /* default value of roughly 1.2, depending on the element's font-family. */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;

  min-width: 100px;

  margin: 4px;
}

.tcsmd-btn-emphasis.rounded {
  border-radius: 999px;
}

.tcsmd-btn-emphasis.xs {
  min-height: 24px;
    padding: 0 16px; /* height = 24px */
    min-width: 60px;
}

.tcsmd-btn-emphasis.small {
  min-height: 32px;
    padding: 4px 24px; /* height = 32px */
    min-width: 80px;
}

.tcsmd-btn-emphasis.large {
  min-height: 60px;
    padding: 17px 40px; /* height = 60px */
    min-width: 100px;
}

.tcsmd-btn-emphasis:hover, .tcsmd-btn-emphasis.hover {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: var(--tcsmd-blue-70) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--tcsmd-blue-80) var(--tw-gradient-to-position);
}

.tcsmd-btn-emphasis:active, .tcsmd-btn-emphasis.active {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: var(--tcsmd-blue-80) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--tcsmd-blue-90) var(--tw-gradient-to-position);
}

.tcsmd-btn-emphasis:disabled, .tcsmd-btn-emphasis.disabled {
  --tw-gradient-from: var(--tcsmd-blue-60) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--tcsmd-blue-70) var(--tw-gradient-to-position);
  opacity: 0.4;
  /* cursor: not-allowed; */
  pointer-events: none;
}

.tcsmd-btn-emphasis:disabled::before, .tcsmd-btn-emphasis.disabled::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    pointer-events: auto;
    cursor: not-allowed;
  }

.tcsmd-btn-emphasis:disabled:focus, .tcsmd-btn-emphasis.disabled:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-btn-emphasis.loading {
  --tw-gradient-from: var(--tcsmd-blue-60) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--tcsmd-blue-70) var(--tw-gradient-to-position);
  /* @apply bg-tcsmd-gray-28;  background: #D5D5D5; */

  border: none;
  /* cursor: wait; */
  pointer-events: none;
}

.tcsmd-btn-emphasis.loading::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    pointer-events: auto;
    cursor: wait;
  }

.tcsmd-btn-emphasis.loading:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-btn-emphasis:focus, .tcsmd-btn-emphasis.focus {
  border-width: 2px;
  border-color: var(--tcsmd-ref-palette-blue-60);
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 1);
}

.tcsmd-btn-ghost {
  border-color: var(--tcsmd-ref-palette-gray-26);
  background-color: transparent;
  color: var(--tcsmd-ref-palette-gray-90);
  /* width = border + padding + width */
  min-height: 40px;
  border-radius: 4px;
  border-width: 2px;
  padding: 7px 24px; /* height = 40px */
  font-size: 18px;
  line-height: 20px; /* default value of roughly 1.2, depending on the element's font-family. */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;

  min-width: 100px;

  margin: 4px;
}

.tcsmd-btn-ghost.rounded {
  border-radius: 999px;
}

.tcsmd-btn-ghost.xs {
  min-height: 24px;
    padding: 0 16px; /* height = 24px */
    min-width: 60px;
}

.tcsmd-btn-ghost.small {
  min-height: 32px;
    padding: 4px 24px; /* height = 32px */
    min-width: 80px;
}

.tcsmd-btn-ghost.large {
  min-height: 60px;
    padding: 17px 40px; /* height = 60px */
    min-width: 100px;
}

.tcsmd-btn-ghost {
  border-width:1px;
}

.tcsmd-btn-ghost:hover, .tcsmd-btn-ghost.hover {
  border-color: var(--tcsmd-ref-palette-gray-50);
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: var(--hover-ghost-start) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--hover-ghost-end) var(--tw-gradient-to-position);
}

.tcsmd-btn-ghost:active, .tcsmd-btn-ghost.active {
  border-color: var(--tcsmd-ref-palette-gray-50);
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: var(--active-ghost-start) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--active-ghost-end) var(--tw-gradient-to-position);
}

.tcsmd-btn-ghost:disabled, .tcsmd-btn-ghost.disabled {
  border-color: var(--tcsmd-ref-palette-gray-30);
  --tw-gradient-from: transparent var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
  opacity: 0.4;
  /* cursor: not-allowed; */
  pointer-events: none;
}

.tcsmd-btn-ghost:disabled::before, .tcsmd-btn-ghost.disabled::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    pointer-events: auto;
    cursor: not-allowed;
  }

.tcsmd-btn-ghost:disabled:focus, .tcsmd-btn-ghost.disabled:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-btn-ghost:disabled:focus, .tcsmd-btn-ghost:disabled.focus, .tcsmd-btn-ghost.disabled:focus, .tcsmd-btn-ghost.disabled.focus {
  border-color: var(--tcsmd-ref-palette-gray-30);
}

.tcsmd-btn-ghost.loading {
  border-color: var(--tcsmd-ref-palette-gray-30);
  /* @apply bg-tcsmd-gray-28;  background: #D5D5D5; */

  border: none;
  /* cursor: wait; */
  pointer-events: none;
}

.tcsmd-btn-ghost.loading::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    pointer-events: auto;
    cursor: wait;
  }

.tcsmd-btn-ghost.loading:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-btn-ghost.loading .loader {
  border-color: var(--tcsmd-ref-palette-gray-26);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
      border-width:1px;
}

.tcsmd-btn-ghost:focus, .tcsmd-btn-ghost.focus {
  border-color: var(--tcsmd-ref-palette-blue-60);
    box-shadow: inset 0 0 0 1.5px var(--tcsmd-ref-palette-blue-60);
}

/* ----  Text Button  ---- */

.tcsmd-text-btn-primary {
  color: var(--tcsmd-ref-palette-gray-90);
  min-height: 40px;
  border-radius: 4px;
  border-width: 2px;
  border-color: transparent;
  background-color: transparent; /* background-color: transparent */

  padding: 10px 24px; /* height = 40px */
  font-size: 18px;
  line-height: 20px; /* default value of roughly 1.2, depending on the element's font-family. */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;

  min-width: 100px;

  margin: 4px;
}

.tcsmd-text-btn-primary.rounded {
  border-radius: 999px;
}

.tcsmd-text-btn-primary.xs {
  min-height: 24px;
    padding: 0 16px; /* height = 24px */
    min-width: 60px;
}

.tcsmd-text-btn-primary.small {
  min-height: 32px;
    padding: 4px 24px; /* height = 32px */
    min-width: 80px;
}

.tcsmd-text-btn-primary.large {
  min-height: 60px;
    padding: 17px 40px; /* height = 60px */
    min-width: 100px;
}

.tcsmd-text-btn-primary:hover,.tcsmd-text-btn-primary.hover {
  background-color: var(--tcsmd-ref-palette-gray-22);
}

.tcsmd-text-btn-primary:active,.tcsmd-text-btn-primary.active {
  background-color: var(--tcsmd-ref-palette-gray-26);
}

.tcsmd-text-btn-primary:disabled,.tcsmd-text-btn-primary.disabled {
  background-color: transparent;
  opacity: 0.4;
  /* cursor: not-allowed; */
  pointer-events: none;
}

.tcsmd-text-btn-primary:disabled::before,.tcsmd-text-btn-primary.disabled::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    pointer-events: auto;
    cursor: not-allowed;
  }

.tcsmd-text-btn-primary:disabled:focus,.tcsmd-text-btn-primary.disabled:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-text-btn-primary:disabled,.tcsmd-text-btn-primary.disabled {
  background-color: transparent;
  opacity: 0.4;
  /* cursor: not-allowed; */
  pointer-events: none;
}

.tcsmd-text-btn-primary:disabled::before,.tcsmd-text-btn-primary.disabled::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    pointer-events: auto;
    cursor: not-allowed;
  }

.tcsmd-text-btn-primary:disabled:focus,.tcsmd-text-btn-primary.disabled:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-text-btn-primary:disabled:focus,.tcsmd-text-btn-primary:disabled.focus,.tcsmd-text-btn-primary.disabled:focus,.tcsmd-text-btn-primary.disabled.focus {
  border-color: transparent;
}

.tcsmd-text-btn-primary.loading {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  /* @apply bg-tcsmd-gray-28;  background: #D5D5D5; */

  border: none;
  /* cursor: wait; */
  pointer-events: none;
}

.tcsmd-text-btn-primary.loading::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    pointer-events: auto;
    cursor: wait;
  }

.tcsmd-text-btn-primary.loading:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-text-btn-primary:focus,.tcsmd-text-btn-primary.focus {
  border-color: var(--tcsmd-ref-palette-blue-60);
}

.tcsmd-text-btn-default {
  color: var(--tcsmd-sys-color-brand-trend-red);
  min-height: 40px;
  border-radius: 4px;
  border-width: 2px;
  border-color: transparent;
  background-color: transparent; /* background-color: transparent */

  padding: 10px 24px; /* height = 40px */
  font-size: 18px;
  line-height: 20px; /* default value of roughly 1.2, depending on the element's font-family. */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;

  min-width: 100px;

  margin: 4px;
}

.tcsmd-text-btn-default.rounded {
  border-radius: 999px;
}

.tcsmd-text-btn-default.xs {
  min-height: 24px;
    padding: 0 16px; /* height = 24px */
    min-width: 60px;
}

.tcsmd-text-btn-default.small {
  min-height: 32px;
    padding: 4px 24px; /* height = 32px */
    min-width: 80px;
}

.tcsmd-text-btn-default.large {
  min-height: 60px;
    padding: 17px 40px; /* height = 60px */
    min-width: 100px;
}

.tcsmd-text-btn-default:hover,.tcsmd-text-btn-default.hover {
  background-color: var(--tcsmd-ref-palette-gray-22);
}

.tcsmd-text-btn-default:active,.tcsmd-text-btn-default.active {
  background-color: var(--tcsmd-ref-palette-gray-26);
}

.tcsmd-text-btn-default:disabled,.tcsmd-text-btn-default.disabled {
  background-color: transparent;
  opacity: 0.4;
  /* cursor: not-allowed; */
  pointer-events: none;
}

.tcsmd-text-btn-default:disabled::before,.tcsmd-text-btn-default.disabled::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    pointer-events: auto;
    cursor: not-allowed;
  }

.tcsmd-text-btn-default:disabled:focus,.tcsmd-text-btn-default.disabled:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-text-btn-default:disabled,.tcsmd-text-btn-default.disabled {
  background-color: transparent;
  opacity: 0.4;
  /* cursor: not-allowed; */
  pointer-events: none;
}

.tcsmd-text-btn-default:disabled::before,.tcsmd-text-btn-default.disabled::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    pointer-events: auto;
    cursor: not-allowed;
  }

.tcsmd-text-btn-default:disabled:focus,.tcsmd-text-btn-default.disabled:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-text-btn-default:disabled:focus,.tcsmd-text-btn-default:disabled.focus,.tcsmd-text-btn-default.disabled:focus,.tcsmd-text-btn-default.disabled.focus {
  border-color: transparent;
}

.tcsmd-text-btn-default.loading {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  /* @apply bg-tcsmd-gray-28;  background: #D5D5D5; */

  border: none;
  /* cursor: wait; */
  pointer-events: none;
}

.tcsmd-text-btn-default.loading::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    pointer-events: auto;
    cursor: wait;
  }

.tcsmd-text-btn-default.loading:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-text-btn-default:focus,.tcsmd-text-btn-default.focus {
  border-color: var(--tcsmd-ref-palette-blue-60);
}

.tcsmd-text-btn-emphasis {
  color: var(--tcsmd-ref-palette-blue-60);
  min-height: 40px;
  border-radius: 4px;
  border-width: 2px;
  border-color: transparent;
  background-color: transparent; /* background-color: transparent */

  padding: 10px 24px; /* height = 40px */
  font-size: 18px;
  line-height: 20px; /* default value of roughly 1.2, depending on the element's font-family. */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;

  min-width: 100px;

  margin: 4px;
}

.tcsmd-text-btn-emphasis.rounded {
  border-radius: 999px;
}

.tcsmd-text-btn-emphasis.xs {
  min-height: 24px;
    padding: 0 16px; /* height = 24px */
    min-width: 60px;
}

.tcsmd-text-btn-emphasis.small {
  min-height: 32px;
    padding: 4px 24px; /* height = 32px */
    min-width: 80px;
}

.tcsmd-text-btn-emphasis.large {
  min-height: 60px;
    padding: 17px 40px; /* height = 60px */
    min-width: 100px;
}

.tcsmd-text-btn-emphasis:hover,.tcsmd-text-btn-emphasis.hover {
  background-color: var(--tcsmd-ref-palette-gray-22);
}

.tcsmd-text-btn-emphasis:active,.tcsmd-text-btn-emphasis.active {
  background-color: var(--tcsmd-ref-palette-gray-26);
}

.tcsmd-text-btn-emphasis:disabled,.tcsmd-text-btn-emphasis.disabled {
  background-color: transparent;
  opacity: 0.4;
  /* cursor: not-allowed; */
  pointer-events: none;
}

.tcsmd-text-btn-emphasis:disabled::before,.tcsmd-text-btn-emphasis.disabled::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    pointer-events: auto;
    cursor: not-allowed;
  }

.tcsmd-text-btn-emphasis:disabled:focus,.tcsmd-text-btn-emphasis.disabled:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-text-btn-emphasis:disabled,.tcsmd-text-btn-emphasis.disabled {
  background-color: transparent;
  opacity: 0.4;
  /* cursor: not-allowed; */
  pointer-events: none;
}

.tcsmd-text-btn-emphasis:disabled::before,.tcsmd-text-btn-emphasis.disabled::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    pointer-events: auto;
    cursor: not-allowed;
  }

.tcsmd-text-btn-emphasis:disabled:focus,.tcsmd-text-btn-emphasis.disabled:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-text-btn-emphasis:disabled:focus,.tcsmd-text-btn-emphasis:disabled.focus,.tcsmd-text-btn-emphasis.disabled:focus,.tcsmd-text-btn-emphasis.disabled.focus {
  border-color: transparent;
}

.tcsmd-text-btn-emphasis.loading {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  /* @apply bg-tcsmd-gray-28;  background: #D5D5D5; */

  border: none;
  /* cursor: wait; */
  pointer-events: none;
}

.tcsmd-text-btn-emphasis.loading::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    pointer-events: auto;
    cursor: wait;
  }

.tcsmd-text-btn-emphasis.loading:focus {
  border-color: transparent;
    box-shadow: none;
}

.tcsmd-text-btn-emphasis:focus,.tcsmd-text-btn-emphasis.focus {
  border-color: var(--tcsmd-ref-palette-blue-60);
}

.hr {
  margin: 16px 0;
  width: 100%;
}

/* https://fontello.com/ - svg to @font-face ~ https://yunusozcan.medium.com/how-to-create-icon-font-like-font-awesome-ce32ea7c7385 */

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: inherit;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

svg.circle-progress {
  width: 24px;
  height: 24px;
}

svg.circle-progress .bg {
  fill: none;
  stroke-width: 2px;
  stroke: currentColor;
  opacity: 0.4;
}

svg.circle-progress .progress {
  fill: none;
  stroke-width: 2px;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-dasharray: 60;
  transform-origin: 50% 50%;
  animation: progress-circular-dash 1.4s ease-in-out infinite,progress-circular-rotate 1.4s linear infinite;
}

@keyframes progress-circular-dash {
  0% {
    stroke-dashoffset: 10;
  }
  30% {
    stroke-dashoffset: 55;
  }
  31% {
    stroke-dashoffset: 55;
  }
  100% {
    stroke-dashoffset: 10;
  }
}

@keyframes progress-circular-rotate {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(720deg);
  }
  31% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}
