/* figma define : https://www.figma.com/file/FPcYhygcr22tZS08P7hFF8/branch/br6Diik6cv6zQUvrit6RQV/%F0%9F%8F%A0-Consumer-Tonic---UI-Components?type=design&node-id=24061-21012&mode=design&t=ym52N9tlll785all-0 */

.form-control label.required::after {
    content: '*';
    color: #ed0008;
  }

.tcsmd-input {
  position: relative;
}

.tcsmd-input[suffix] .tcsmd-input__inner {
    padding-right: 30px;
  }

.tcsmd-input[prefix] .tcsmd-input__inner {
    padding-left: 30px;
  }

.tcsmd-input .tcsmd-input__inner ~ .tcsmd-input--prefix {
      position: absolute;
      left: 8px;
      text-align: center;
      display: block;
      /* color: #c0c4cc; */
      transition: all .3s;
      pointer-events: none;
    }

.tcsmd-input .tcsmd-input__inner ~ .tcsmd-input--suffix {
      position: absolute;
      height: 100%;
      right: 8px;
      text-align: center;
      display: block;
      /* color: #c0c4cc; */
      transition: all .3s;
      pointer-events: none;
    }

.tcsmd-input .tcsmd-input__inner.xs ~ .tcsmd-input--prefix {
      top: 5px;
    }

.tcsmd-input .tcsmd-input__inner.xs ~ .tcsmd-input--suffix {
      top: 5px;
    }

.tcsmd-input .tcsmd-input__inner ~ .tcsmd-input--prefix {
      top: 8px;
    }

.tcsmd-input .tcsmd-input__inner ~ .tcsmd-input--suffix {
      top: 8px;
    }

.tcsmd-input .tcsmd-input__inner.md ~ .tcsmd-input--prefix {
      top: 8px;
    }

.tcsmd-input .tcsmd-input__inner.md ~ .tcsmd-input--suffix {
      top: 8px;
    }

.tcsmd-input .tcsmd-input__inner.lg ~ .tcsmd-input--prefix {
      top: 12px;
    }

.tcsmd-input .tcsmd-input__inner.lg ~ .tcsmd-input--suffix {
      top: 12px;
    }

.tcsmd-input .tcsmd-input__inner {
    /* enabled . filled */
    min-width: 280px;
    border-width: 1px;
    border-color: #8e8e8e;
    border-style: solid;
    border-radius: 4px;
    color: #222222;
    padding: 3px 8px;
    font-size: 14px;
    line-height: 16px;
    min-height: 32px;
  }

.tcsmd-input .tcsmd-input__inner::-moz-placeholder {
    color: var(--colors--tcsmd-ref-palette-gray-50);
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
}

.tcsmd-input .tcsmd-input__inner::placeholder {
    color: var(--colors--tcsmd-ref-palette-gray-50);
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
}

.tcsmd-input .tcsmd-input__inner:disabled, .tcsmd-input .tcsmd-input__inner.disabled {
      opacity: 0.4;
      pointer-events: none;
    }

.tcsmd-input .tcsmd-input__inner.error {
      border-color: #ed0008;
    }

.tcsmd-input .tcsmd-input__inner.error:hover, .tcsmd-input .tcsmd-input__inner.error.hover {
        border-color: #b00c0c;
      }

.tcsmd-input .tcsmd-input__inner.error:focus, .tcsmd-input .tcsmd-input__inner.error.focus {
        border-color: #ed0008;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(243, 20, 20, 0.25);
      }

.tcsmd-input .tcsmd-input__inner:hover, .tcsmd-input .tcsmd-input__inner.hover {
      border-color: #0074e8;
    }

.tcsmd-input .tcsmd-input__inner.loading {

    }

.tcsmd-input .tcsmd-input__inner:focus, .tcsmd-input .tcsmd-input__inner.focus {
      outline: 0;
      border-color: #0074e8;
      caret-color: #0074e8; /* 閃爍的游標顏色 */
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

.tcsmd-input .tcsmd-input__inner.xs {
      min-height: 24px;
    }

.tcsmd-input .tcsmd-input__inner.md {
      min-height: 32px;
    }

.tcsmd-input .tcsmd-input__inner.lg {
      min-height: 40px;
    }

