---
import type { Props } from '@astrojs/starlight/props';
---

<!-- PageTitle -->
<h1 id="_top">{Astro.props.entry.data.title}</h1>

<style>
  h1 {
    margin-top: 0;
    font-size: var(--sl-text-h1);
    line-height: var(--sl-line-height-headings);
    font-weight: 600;
    color: var(--sl-color-white);
  }
</style>
