---
import type {Props} from '@astrojs/starlight/props';
import Search from '@astrojs/starlight/components/Search.astro';
import SidebarSublist from '@astrojs/starlight/components/SidebarSublist.astro';
import MobileMenuFooter from '@astrojs/starlight/components/MobileMenuFooter.astro';
import config from "virtual:starlight/user-config";
import SidebarLogo from "../../assets/SidebarLogo.svg";
import {ThemeSelect} from "virtual:starlight/components";

const {sidebar} = Astro.props;

/**
 * Render the `Search` component if Pagefind is enabled or the default search component has been overridden.
 */
const shouldRenderSearch = config.pagefind || config.components.Search !== '@astrojs/starlight/components/Search.astro';
---

<!-- left sidebar -->
<div class="menu-sidebar flex flex-col gap-4">
  {shouldRenderSearch &&
    <Search {...Astro.props}/>}
  <div class="overflow-auto">
    <SidebarSublist sublist={sidebar}/>
    <div class="md:sl-hidden">
      <MobileMenuFooter {...Astro.props}/>
    </div>
  </div>
</div>

<style is:global>
  :root[data-theme='light'], [data-theme='light'] ::backdrop {
    --sl-color-bg-sidebar: var(--colors--tcsmd-ref-palette-gray-20); /* #f2f2f2; */
  }
</style>
<style>
  .menu-sidebar {
    transition: transform 0.3s;
    transform: translateX(0);
  }

  .menu-sidebar.close {
    transform: translateX(calc(var(--sl-sidebar-width) * (-1) + 50px));
  }

  .menu-sidebar:not(.close) .menu-sidebar-opener {
    display: none;
  }

  .menu-sidebar.close .menu-sidebar-closer {
    display: none;
  }
</style>

<script is:inline>
  function toggleMenuSidebar() {
    document.querySelector('.menu-sidebar').classList.toggle('close');

    // css var - sidebar open
    document.querySelector(':root').style.setProperty('--sidebar-open',true);
  }
</script>
