---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/SiteTitle.astro';
import SidebarLogo from "../../assets/SidebarLogo.svg";
---

<!-- SideTitle -->
<div class="flex text-tcsmd-sys-color-text-primary gap-3">
  <img src={SidebarLogo.src} alt="SidebarLogo" width="64"/>
  <div class="flex flex-col justify-center flex-1">
    <span class="font-regular text-[12px] leading-tight">Tonic UI</span>
    <span class="font-semibold text-[20px] leading-tight">Consumer</span>
  </div>
</div>
