/* https://www.figma.com/file/FPcYhygcr22tZS08P7hFF8/branch/br6Diik6cv6zQUvrit6RQV/%F0%9F%8F%A0-Consumer-Tonic---UI-Components?type=design&node-id=25944-25252&mode=design&t=St3fddlBfWvsECfa-0 */

.tcsmd-comp-status-badge-box {
  @apply inline-flex relative w-fit h-fit;
}

.basic-badge {
  @apply rounded-full bg-tcsmd-sys-color-text-error mt-0 text-tcsmd-ref-palette-white flex items-center justify-center text-tcsmd-ref-typesetting-font-size-xs;
  &.left {
    @apply -translate-x-1/2 left-0;
  }

  &.top {
    @apply -translate-y-1/2 top-0;
  }

  &.right {
    @apply translate-x-1/2 right-0;
  }

  &.bottom {
    @apply translate-y-1/2 bottom-0;
  }
  &.red,
  &.new,
  &.danger {
    @apply bg-tcsmd-ref-palette-red-60;
  }

  &.orange,
  &.risk {
    @apply bg-tcsmd-ref-palette-orange-40;
  }

  &.green,
  &.protected {
    @apply bg-tcsmd-ref-palette-green-50;
  }

  &.blue,
  &.info {
    @apply bg-tcsmd-ref-palette-blue-50;
  }

  &.gray,
  &.unknown {
    @apply bg-tcsmd-ref-palette-gray-60;
  }
}

.add-border {
  border: 1px solid #fff;
}

.tcsmd-comp-status-badge {
  @apply basic-badge;
  height: 8px;
  width: 8px;
  &.border{
    @apply h-[10px] w-[10px] add-border;
  }
}


.tcsmd-comp-status-badge-digit {
  @apply basic-badge font-semibold;
  height: 16px;
  min-width: 16px;
  padding: 2px 4px;
  width: max-content;
  &.border{
    @apply add-border h-[18px];
    min-width: 18px;
  };
}

.tcsmd-comp-status-badge-icon {
  @apply basic-badge;
  height: 16px;
  min-width: 16px;
  padding: 2px;
  width: max-content;
  &.border{
    @apply h-[18px] w-[18px] add-border;
  };
}

.tcsmd-comp-status-badge-box > .tcsmd-comp-status-badge {
  @apply absolute;
}
.tcsmd-comp-status-badge-box > .tcsmd-comp-status-badge-digit {
  @apply absolute;
}
.tcsmd-comp-status-badge-box > .tcsmd-comp-status-badge-icon {
  @apply absolute;
}