/* figma define : https://www.figma.com/file/FPcYhygcr22tZS08P7hFF8/branch/br6Diik6cv6zQUvrit6RQV/%F0%9F%8F%A0-Consumer-Tonic---UI-Components?type=design&node-id=35951-10712&mode=design&t=ldjOzrnvDwkiroPn-0 */

.tcsmd-btn-disabled {
  opacity: 0.4;
  cursor: not-allowed;

  &:focus {
    @apply border-transparent;
    box-shadow: none;
  }
}

.tcsmd-btn-loading {
  /* @apply bg-tcsmd-gray-28;  background: #D5D5D5; */

  border: none;
  cursor: wait;

  &:focus {
    @apply border-transparent;
    box-shadow: none;
  }
}

.tcsmd-btn {
  /* width = border + padding + width */
  @apply border-2 min-h-btn-md rounded-sm;
  padding: 7px 24px; /* height = 40px */
  font-size: 18px;
  line-height: 20px; /* default value of roughly 1.2, depending on the element's font-family. */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;

  min-width: 100px;

  margin: 4px;

  &.rounded {
    @apply rounded-full;
  }

  &.xs {
    @apply min-h-btn-xs;
    padding: 0 16px; /* height = 24px */
    min-width: 60px;
  }

  &.small {
    @apply min-h-btn-sm;
    padding: 4px 24px; /* height = 32px */
    min-width: 80px;
  }

  &.large {
    @apply min-h-btn-lg;
    padding: 17px 40px; /* height = 60px */
    min-width: 100px;
  }
}

.tcsmd-text-btn {
  @apply bg-transparent border-2 border-transparent min-h-btn-md rounded-sm; /* background-color: transparent */

  padding: 10px 24px; /* height = 40px */
  font-size: 18px;
  line-height: 20px; /* default value of roughly 1.2, depending on the element's font-family. */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;

  min-width: 100px;

  margin: 4px;

  &.rounded {
    @apply rounded-full;
  }

  &.xs {
    @apply min-h-btn-xs;
    padding: 0 16px; /* height = 24px */
    min-width: 60px;
  }

  &.small {
    @apply min-h-btn-sm;
    padding: 4px 24px; /* height = 32px */
    min-width: 80px;
  }

  &.large {
    @apply min-h-btn-lg;
    padding: 17px 40px; /* height = 60px */
    min-width: 100px;
  }

  &:hover, &.hover {
    @apply bg-tcsmd-gray-22;
  }

  &:active, &.active {
    @apply bg-tcsmd-gray-26;
  }

  &:disabled, &.disabled {
    @apply tcsmd-btn-disabled bg-transparent;

    &:focus, &.focus {
      @apply border-transparent;
    }
  }

  &.loading {
    @apply tcsmd-btn-loading bg-white;
  }

  &:focus, &.focus {
    @apply border-tcsmd-blue-60;
    /* border: 2px solid #0074E8 */
  }
}

/* ----  Normal Button  ---- */

.tcsmd-btn-primary  {
  @apply tcsmd-btn border-transparent bg-gradient-to-b from-enabled-primary-start to-enabled-primary-end text-tcsmd-white;

  &:hover, &.hover {
    @apply bg-gradient-to-b from-hover-primary-start to-hover-primary-end;
  }

  &:active, &.active {
    @apply bg-gradient-to-b from-active-primary-start to-active-primary-end;
  }

  &:disabled, &.disabled {
    @apply tcsmd-btn-disabled bg-gradient-to-b from-enabled-primary-start to-enabled-primary-end;
  }

  &.loading {
    @apply tcsmd-btn-loading from-enabled-primary-start to-enabled-primary-end;
  }

  &:focus, &.focus {
    @apply border-2 border-tcsmd-blue-60;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 1);
  }
}

.tcsmd-btn-default {
  @apply tcsmd-btn bg-gradient-to-b from-enabled-default-start to-enabled-default-end text-tcsmd-color-text-primary;
  border: 0.5px solid #8e8e8e;

  &:hover, &.hover {
    @apply from-hover-default-start to-hover-default-end;
  }

  &:active, &.active {
    @apply from-active-default-start to-active-default-end;
  }

  &:disabled, &.disabled {
    @apply tcsmd-btn-disabled from-enabled-default-start to-enabled-default-end;

    &:focus, &.focus {
      @apply border-tcsmd-gray-50;
    }
  }

  &.loading {
    @apply tcsmd-btn-loading from-enabled-default-start to-enabled-default-end;
  }

  &:focus, &.focus {
    @apply border-tcsmd-blue-60;
    box-shadow: inset 0 0 0 1.5px var(--tcsmd-blue-60);
  }
}

.tcsmd-btn-emphasis {
  @apply tcsmd-btn border-transparent bg-gradient-to-b from-enabled-emphasis-start to-enabled-emphasis-end text-tcsmd-white;

  &:hover, &.hover {
    @apply bg-gradient-to-b from-hover-emphasis-start to-hover-emphasis-end;
  }

  &:active, &.active {
    @apply bg-gradient-to-b from-active-emphasis-start to-active-emphasis-end;
  }

  &:disabled, &.disabled {
    @apply tcsmd-btn-disabled from-enabled-emphasis-start to-enabled-emphasis-end;
  }

  &.loading {
    @apply tcsmd-btn-loading from-enabled-emphasis-start to-enabled-emphasis-end;
  }

  &:focus, &.focus {
    @apply border-2 border-tcsmd-blue-60;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 1);
  }
}

.tcsmd-btn-ghost {
  @apply tcsmd-btn bg-transparent border-tcsmd-gray-26 text-tcsmd-color-text-primary;
  border-width:1px;

  &:hover, &.hover {
    @apply bg-gradient-to-b from-hover-ghost-start to-hover-ghost-end border-tcsmd-gray-50;
  }

  &:active, &.active {
    @apply bg-gradient-to-b from-active-ghost-start to-active-ghost-end border-tcsmd-gray-50;
  }

  &:disabled, &.disabled {
    @apply tcsmd-btn-disabled from-transparent to-transparent border-tcsmd-gray-30;

    &:focus, &.focus {
      @apply border-tcsmd-gray-30;
    }
  }

  &.loading {
    @apply tcsmd-btn-loading border-tcsmd-gray-30;

    .loader{
      @apply border-tcsmd-gray-26 bg-white;
      border-width:1px;
    }
  }

  &:focus, &.focus {
    @apply border-tcsmd-blue-60;
    box-shadow: inset 0 0 0 1.5px var(--tcsmd-blue-60);
  }
}

/* ----  Text Button  ---- */

.tcsmd-text-btn-primary {
  @apply tcsmd-text-btn text-tcsmd-color-text-primary;
}

.tcsmd-text-btn-default {
  @apply tcsmd-text-btn text-tcsmd-color-brand-trend-red;
}

.tcsmd-text-btn-emphasis {
  @apply tcsmd-text-btn text-tcsmd-blue-60;
}

.hr {
  margin: 16px 0;
  width: 100%;
}

/* https://fontello.com/ - svg to @font-face ~ https://yunusozcan.medium.com/how-to-create-icon-font-like-font-awesome-ce32ea7c7385 */

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: inherit;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg.circle-progress {
  width: 24px;
  height: 24px;
}

svg.circle-progress .bg {
  fill: none;
  stroke-width: 2px;
  stroke: currentColor;
  opacity: 0.4;
}

svg.circle-progress .progress {
  fill: none;
  stroke-width: 2px;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-dasharray: 60;
  transform-origin: 50% 50%;
  animation: progress-circular-dash 1.4s ease-in-out infinite,progress-circular-rotate 1.4s linear infinite;
}

@keyframes progress-circular-dash {
  0% {
    stroke-dashoffset: 10;
  }
  30% {
    stroke-dashoffset: 55;
  }
  31% {
    stroke-dashoffset: 55;
  }
  100% {
    stroke-dashoffset: 10;
  }
}

@keyframes progress-circular-rotate {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(720deg);
  }
  31% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}
