/* figma define: https://www.figma.com/design/FPcYhygcr22tZS08P7hFF8/branch/br6Diik6cv6zQUvrit6RQV/%F0%9F%8F%A0-Consumer-Tonic---UI-Components?node-id=23696-18600&node-type=canvas&t=s7arqmPMGunaxMTy-0 */

.tscmd-checkbox-group {
  @apply flex flex-1 items-start;

  &.vertical {
    @apply flex-row gap-1 items-center;
  }

  &.horizontal {
    @apply flex-row flex-wrap gap-4;
  }
}

.tcsmd-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  @apply flex flex-col items-center justify-center p-0 w-[24px] h-[24px]  border rounded border-tcsmd-ref-palette-gray-40 bg-tcsmd-ref-palette-white cursor-pointer;

  /*When checkbox is enable*/
  &:enabled {
    &:hover,
    .hover {
      @apply bg-tcsmd-ref-palette-gray-22 border-tcsmd-ref-palette-gray-60;
    }

    &:focus,
    .focus {
      @apply border-2 rounded border-tcsmd-ref-palette-blue-80;
    }

    /*Inderteminate - checkbox*/
    &:indeterminate {
      @apply bg-tcsmd-ref-palette-white rounded border border-tcsmd-ref-palette-blue-60;
    }
    &:indeterminate::before {
      content: "";
      @apply flex items-center justify-center text-tcsmd-ref-palette-blue-60 leading-none text-base;
    }

    /*When checkbox got checked while enable*/
    &:checked {
      @apply w-[24px] h-[24px] justify-center items-center rounded border border-tcsmd-ref-palette-blue-60;
    }
    &:checked:focus,
    .focus {
      @apply border-2 rounded border-tcsmd-ref-palette-blue-80;
    }
    &:checked::before {
      content: "\2713"; /* Unicode for checkmark */
      @apply flex items-center justify-center text-tcsmd-ref-palette-blue-60 leading-none text-base font-bold;

      &:checked:hover {
        @apply bg-transparent;
      }
    }
  }
  &.size-sm {
    @apply w-[16px] h-[16px];
    &:checked {
      @apply w-[16px] h-[16px];
    }
    &:checked::before {
      @apply text-tcsmd-ref-typesetting-font-size-sm;
    }
  }
  &.size-md {
    @apply w-[24px] h-[24px];
    &:checked {
      @apply w-[24px] h-[24px];
    }
    &:checked::before {
      @apply text-tcsmd-ref-typesetting-font-size-2xl;
    }
  }
  &.size-lg {
    @apply w-[32px] h-[32px];
    &:checked {
      @apply w-[32px] h-[32px];
    }
    &:checked::before {
      @apply text-tcsmd-ref-typesetting-font-size-4xl;
    }
  }

  /*When Checbox is disabled*/
  &:disabled {
    @apply bg-tcsmd-ref-palette-gray-22 border rounded border-tcsmd-ref-palette-gray-24 cursor-not-allowed;

    /*When checkbox got checked while disable*/
    &:disabled:checked {
      @apply w-[18px] h-[18px] justify-center items-center rounded border border-tcsmd-ref-palette-blue-20;
    }
    &:disabled:checked::before {
      content: "\2713"; /* Unicode for checkmark */
      @apply flex items-center justify-center text-tcsmd-ref-palette-blue-20 leading-none text-base font-bold;
    }
  }
}
