/* figma define : https://www.figma.com/file/FPcYhygcr22tZS08P7hFF8/%F0%9F%8F%A0-Consumer-Tonic---UI-Components?node-id=23696%3A18600&mode=dev */
@tailwind components;

/* Wrapper */
.tcsmd-checkbox-wrapper {
  input {
    @apply hidden;
  }

  @apply flex items-center gap-1 cursor-pointer !m-0
}

.tcsmd-checkbox-wrapper-disabled {
  @apply opacity-40 cursor-not-allowed
}

/* Checkbox */
.tcsmd-checkbox {
  @apply flex justify-center items-center bg-tcsmd-comp-checkbox-default-bg border rounded border-tcsmd-comp-checkbox-default-border-color box-border h-checkbox-md w-checkbox-md m-[3px] transition;
  @apply group-hover/checkbox:bg-tcsmd-comp-checkbox-hover-bg group-hover/checkbox:border-tcsmd-comp-checkbox-hover-border-color group-active/checkbox:border-tcsmd-ref-palette-blue-60 group-active/checkbox:border-[2px];
  @apply peer-checked:tcsmd-checkbox-checked;
  @apply peer-indeterminate:tcsmd-checkbox-indeterminate;
  @apply peer-disabled:tcsmd-checkbox-disabled;
}
.tcsmd-checkbox-sm {
  @apply h-checkbox-sm w-checkbox-sm m-[1px];
  @apply peer-checked:tcsmd-checkbox-checked-sm;
  @apply peer-indeterminate:tcsmd-checkbox-indeterminate-sm;
}
.tcsmd-checkbox-lg {
  @apply h-checkbox-lg w-checkbox-lg m-1;
  @apply peer-checked:tcsmd-checkbox-checked-lg;
  @apply peer-indeterminate:tcsmd-checkbox-indeterminate-lg;
}

/* Checkbox Label */
.tcsmd-checkbox-label {
  @apply text-tcsmd-sys-color-text-primary text-sm leading-[normal];
  @apply peer-disabled:tcsmd-checkbox-label-disabled;
}
.tcsmd-checkbox-label-sm {
  @apply text-xs;
}
.tcsmd-checkbox-label-lg {
  @apply text-lg;
}

/* Checkbox Group */
.tcsmd-checkbox-group {
  @apply flex flex-col gap-1;

  &.horizontal {
    @apply flex flex-row gap-4;
  }
}

@layer components {
  /* Disabled Checkbox */
  .tcsmd-checkbox-disabled,
  .tcsmd-checkbox-label-disabled {
    @apply opacity-40 cursor-not-allowed
  }

  /* Checkbox state */
  .tcsmd-checkbox-checked {
    @apply border-tcsmd-ref-palette-blue-60 group-hover/checkbox:border-tcsmd-ref-palette-blue-60;

    &-sm::before {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'><path d='M10.6062 3.26503C10.9218 2.91487 11.4515 2.91119 11.7715 3.25693C12.0733 3.58292 12.0765 4.10078 11.779 4.43094L6.10408 10.7273C5.77641 11.0909 5.22527 11.0909 4.89761 10.7273L2.22103 7.75757C1.92347 7.42742 1.92675 6.90956 2.22846 6.58359C2.54847 6.23784 3.07822 6.24154 3.39382 6.59172L5.29959 8.7062C5.40881 8.82738 5.59251 8.82738 5.70174 8.70621L10.6062 3.26503Z' fill='%230074E8'/></svg>");
      background-position: center;
    }
    &::before {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'><path d='M12.8414 5.67462C13.1898 5.30666 13.7744 5.3028 14.1275 5.66611V5.66611C14.4605 6.00866 14.4641 6.55285 14.1357 6.89979L7.75186 13.6441C7.456 13.9567 6.95835 13.9567 6.66249 13.6441L3.58757 10.3955C3.25918 10.0486 3.2628 9.50439 3.59577 9.16185V9.16185C3.94893 8.79854 4.53356 8.80242 4.88187 9.17039L7.02542 11.435C7.12404 11.5392 7.28992 11.5392 7.38854 11.435L12.8414 5.67462Z' fill='%230074E8'/></svg>");
      background-position: center;
    }
    &-lg::before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M17.5756 7.75288C17.9662 7.34176 18.6202 7.33743 19.0163 7.74334L19.3139 8.04841C19.6893 8.43316 19.6934 9.04587 19.3231 9.43557L10.2808 18.9525C9.98509 19.2637 9.48902 19.2637 9.19334 18.9525L4.6632 14.1845C4.29293 13.7948 4.297 13.1821 4.67242 12.7974L4.97006 12.4923C5.36612 12.0864 6.02011 12.0908 6.41075 12.5019L9.55556 15.8118C9.65411 15.9155 9.81946 15.9155 9.91803 15.8118L17.5756 7.75288Z' fill='%230074E8'/></svg>");
      background-position: center;
    }
  }

  .tcsmd-checkbox-indeterminate  {
    @apply border-tcsmd-ref-palette-blue-60 group-hover/checkbox:border-tcsmd-ref-palette-blue-60;

    &-sm::before {
      content: '';
      display: block;
      width: 8px;
      height: 1.6px;
      background: #0074E8;
    }
    &::before {
      content: '';
      display: block;
      width: 10px;
      height: 2px;
      background: #0074E8;
    }
    &-lg::before {
      content: '';
      display: block;
      width: 14px;
      height: 2.8px;
      background: #0074E8;
    }
  }
}
