.form-control,
.form-item {
  .label,
  .slot-after {
    @apply text-tcsmd-ref-typesetting-font-size-sm;
  }

  &[data-size="sm"] .label,
  &[data-size="sm"] .slot-after {
    @apply text-tcsmd-ref-typesetting-font-size-xs;
  }

  &[data-size="md"] .label,
  &[data-size="md"] .slot-after {
    @apply text-tcsmd-ref-typesetting-font-size-sm;
  }

  &[data-size="lg"] .label,
  &[data-size="lg"] .slot-after {
    @apply text-tcsmd-ref-typesetting-font-size-md;
  }

  label.required::after {
    @apply text-tcsmd-ref-palette-red-60;
    content: "*";
  }
}

.form-control .form-item,
.form-item {
  display: flex;

  .label,
  .slot-after {
    @apply flex items-center;
    height: 32px;
  }

  &[data-size="sm"] .label,
  &[data-size="sm"] .slot-after {
    height: 24px;
  }

  &[data-size="md"] .label,
  &[data-size="md"] .slot-after {
    height: 32px;
  }

  &[data-size="lg"] .label,
  &[data-size="lg"] .slot-after {
    height: 40px;
  }
}

.form-control.vertical .form-item,
.form-item.vertical {
  flex-direction: column;

  .label {
    @apply mb-1 gap-1;
    height: unset;
  }

  .slot-after {
    height: unset;
  }
}
