/* figma define : https://www.figma.com/file/FPcYhygcr22tZS08P7hFF8/branch/br6Diik6cv6zQUvrit6RQV/%F0%9F%8F%A0-Consumer-Tonic---UI-Components?type=design&node-id=24061-21012&mode=design&t=ym52N9tlll785all-0 */

.form-item,
.tcsmd-input {
  .error-text {
    @apply text-tcsmd-ref-typesetting-font-size-sm flex items-center text-red-500 gap-1 ml-2 leading-normal
  }

  .help-text {
    @apply text-tcsmd-ref-typesetting-font-size-sm ml-2 flex items-center text-tcsmd-ref-palette-gray-60 leading-normal
  }

  &[sm] .error-text ,&[sm] .help-text {
    @apply text-tcsmd-ref-typesetting-font-size-xs
  }

  &[md] .error-text, &[md] .help-text {
    @apply text-tcsmd-ref-typesetting-font-size-sm
  }

  &[lg] .error-text, &[lg] .help-text {
    @apply text-tcsmd-ref-typesetting-font-size-md
  }

  .icon {
    @apply w-4 h-4
  }

  /* &[sm] .icon {
    @apply w-3 h-3
  }

  &[md] .icon {
    @apply w-3.5 h-3.5
  }

  &[lg] .icon {
    @apply w-4 h-4
  } */

  .tcsmd-input__wrapper {
    @apply relative;
  }

  .tcsmd-input__inner {
    ~ .tcsmd-input--prefix,
    ~ .tcsmd-input--suffix {
      @apply absolute top-1/2 transform -translate-y-1/2 text-center;
      display: flex;
      justify-content: center;
      align-items: center;
      /* color: #c0c4cc; */
      transition: all .3s;
      pointer-events: none;
    }

    ~ .tcsmd-input--prefix {
      @apply left-2;
    }

    ~ .tcsmd-input--suffix {
      @apply right-2;
    }
  }

  .tcsmd-input__inner {
    @apply w-full rounded-sm text-[14px] border caret-tcsmd-ref-palette-gray-90 border-tcsmd-ref-palette-gray-50 text-tcsmd-ref-palette-gray-90 md:min-w-[280px];
    /* enabled . filled */
    padding: 6px 8px;
    line-height: 1.171875;
    height: 32px;

    &::placeholder {
      @apply text-tcsmd-ref-palette-gray-50;
      font-size: 14px;
      line-height: 1.171875;
      font-weight: 400;
    }

    &:disabled, &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    &.error {
      @apply border-tcsmd-ref-palette-red-60 caret-tcsmd-ref-palette-red-60;

      &:hover, &.hover {
        @apply border-tcsmd-ref-palette-red-70;
      }

      &:focus, &.focus {
        @apply outline outline-1 outline-tcsmd-ref-palette-red-60 border-tcsmd-ref-palette-red-60;
        /* box-shadow: 0 0 0 0.2rem rgba(243, 20, 20, 0.25); */
      }
    }

    &:hover, &.hover {
      @apply border-tcsmd-ref-palette-blue-60;
    }

    &.loading {
      @apply outline outline-1 outline-tcsmd-ref-palette-blue-60 border-tcsmd-ref-palette-blue-60;
    }

    &:focus, &.focus {
      @apply outline outline-1 outline-tcsmd-ref-palette-blue-60 border-tcsmd-ref-palette-blue-60;
      /* box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); */
    }
  }

  &[sm] .tcsmd-input__inner {
    padding: 3px 8px;
    height: 24px;

    ~ .tcsmd-input--prefix,
    ~ .tcsmd-input--suffix {
      top: calc(50% + 1px);
    }
  }

  &[md] .tcsmd-input__inner {
    height: 32px;
  }

  &[lg] .tcsmd-input__inner {
    @apply text-tcsmd-ref-typesetting-font-size-md;
    height: 40px;

    &::placeholder {
      @apply text-tcsmd-ref-typesetting-font-size-md;
    }
  }

  &[data-suffix] .tcsmd-input__inner {
    padding-right: 28px;
  }

  &[data-suffix="false"] .tcsmd-input__inner {
    padding-right: 8px;
  }

  &[data-prefix] .tcsmd-input__inner {
    padding-left: 28px;
  }

  &[data-prefix="false"] .tcsmd-input__inner {
    padding-left: 8px;
  }
}
