/* figma define : https://www.figma.com/file/FPcYhygcr22tZS08P7hFF8/branch/br6Diik6cv6zQUvrit6RQV/%F0%9F%8F%A0-Consumer-Tonic---UI-Components?type=design&node-id=24061-21012&mode=design&t=ym52N9tlll785all-0 */

.form-control {

  label.required::after {
    @apply text-tcsmd-ref-palette-red-60;
    content: '*';
  }

}

.tcsmd-input {

  .error-text {
    @apply text-[14px] flex items-center text-red-500 gap-1 ml-2 leading-normal
  }

  .help-text {
    @apply text-[14px] ml-2 flex items-center text-tcsmd-ref-palette-gray-60 leading-normal
  }

  &[sm] .error-text ,&[sm] .help-text {
    @apply text-tcsmd-ref-typesetting-font-size-xs
  }

  &[lg] .error-text, &[lg] .help-text {
    @apply text-tcsmd-ref-typesetting-font-size-md
  }

  .icon.sm {
    @apply w-3 h-3
  }

  .icon.md {
    @apply w-3.5 h-3.5
  }

  .icon.lg {
    @apply w-4 h-4
  }

  .tcsmd-input__wrapper {
    @apply relative;
  }

  .tcsmd-input__inner {
    ~ .tcsmd-input--prefix,
    ~ .tcsmd-input--suffix {
      @apply absolute top-1/2 transform -translate-y-1/2 text-center;
      display: flex;
      justify-content: center;
      align-items: center;
      /* color: #c0c4cc; */
      transition: all .3s;
      pointer-events: none;
    }

    ~ .tcsmd-input--prefix {
      @apply left-2;
    }

    ~ .tcsmd-input--suffix {
      @apply right-2;
    }
  }

  .tcsmd-input__inner {
    @apply rounded-sm border caret-tcsmd-ref-palette-gray-90 border-tcsmd-ref-palette-gray-50 text-tcsmd-ref-palette-gray-90;
    /* enabled . filled */
    min-width: 280px;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 1.171875;
    height: 32px;

    &::placeholder {
      @apply text-tcsmd-ref-palette-gray-50;
      font-size: 14px;
      line-height: 1.171875;
      font-weight: 400;
    }

    &:disabled, &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    &.error {
      @apply border-tcsmd-ref-palette-red-60;

      &:hover, &.hover {
        @apply border-tcsmd-ref-palette-red-70;
      }

      &:focus, &.focus {
        @apply outline outline-1 outline-tcsmd-ref-palette-red-60 border-tcsmd-ref-palette-red-60;
        /* box-shadow: 0 0 0 0.2rem rgba(243, 20, 20, 0.25); */
      }
    }

    &:hover, &.hover {
      @apply border-tcsmd-ref-palette-blue-60;
    }

    &.loading {
      @apply outline outline-1 outline-tcsmd-ref-palette-blue-60 border-tcsmd-ref-palette-blue-60;
    }

    &:focus, &.focus {
      @apply outline outline-1 outline-tcsmd-ref-palette-blue-60 border-tcsmd-ref-palette-blue-60;
      /* box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); */
    }

    &.sm {
      padding: 3px 8px;
      height: 24px;

      ~ .tcsmd-input--prefix,
      ~ .tcsmd-input--suffix {
        top: calc(50% + 1px);
      }
    }

    &.md {
      height: 32px;
    }

    &.lg {
      @apply text-tcsmd-ref-typesetting-font-size-md;
      height: 40px;

      &::placeholder {
        @apply text-tcsmd-ref-typesetting-font-size-md;
      }
    }
  }

  &[suffix] .tcsmd-input__inner {
    padding-right: 32px;
  }

  &[prefix] .tcsmd-input__inner {
    padding-left: 32px;
  }
}
