/* figma define : https://www.figma.com/file/FPcYhygcr22tZS08P7hFF8/branch/br6Diik6cv6zQUvrit6RQV/%F0%9F%8F%A0-Consumer-Tonic---UI-Components?type=design&node-id=24061-21012&mode=design&t=ym52N9tlll785all-0 */

.form-control {

  label.required::after {
    @apply text-tcsmd-ref-palette-red-60;
    content: '*';
  }

}

.tcsmd-input {
  .tcsmd-input__wrapper {
    @apply relative;
  }

  .tcsmd-input__inner {
    ~ .tcsmd-input--prefix,
    ~ .tcsmd-input--suffix {
      @apply absolute top-1/2 transform -translate-y-1/2 text-center;
      display: flex;
      justify-content: center;
      align-items: center;
      /* color: #c0c4cc; */
      transition: all .3s;
      pointer-events: none;
    }

    ~ .tcsmd-input--prefix {
      @apply left-2;
    }

    ~ .tcsmd-input--suffix {
      @apply right-2;
    }
  }

  .tcsmd-input__inner {
    @apply rounded-sm border caret-tcsmd-ref-palette-gray-90 border-tcsmd-ref-palette-gray-50 text-tcsmd-ref-palette-gray-90;
    /* enabled . filled */
    min-width: 280px;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 16px;
    height: 32px;

    &::placeholder {
      @apply text-tcsmd-ref-palette-gray-50;
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
    }

    &:disabled, &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    &.error {
      @apply border-tcsmd-ref-palette-red-60;

      &:hover, &.hover {
        border-color: #b00c0c;
      }

      &:focus, &.focus {
        @apply outline outline-1 outline-tcsmd-ref-palette-red-60 border-tcsmd-ref-palette-red-60;
        /* box-shadow: 0 0 0 0.2rem rgba(243, 20, 20, 0.25); */
      }
    }

    &:hover, &.hover {
      @apply border-tcsmd-ref-palette-blue-60;
    }

    &.loading {
      @apply outline outline-1 outline-tcsmd-ref-palette-blue-60 border-tcsmd-ref-palette-blue-60;
    }

    &:focus, &.focus {
      @apply outline outline-1 outline-tcsmd-ref-palette-blue-60 border-tcsmd-ref-palette-blue-60;
      /* box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); */
    }

    &.sm {
      padding: 3px 8px;
      height: 24px;
    }

    &.md {
      height: 32px;
    }

    &.lg {
      height: 40px;
      font-size: 16px;
    }
  }

  &[suffix] .tcsmd-input__inner {
    padding-right: 32px;
  }

  &[prefix] .tcsmd-input__inner {
    padding-left: 32px;
  }
}

svg.circle-progress {
  animation: rotating 2s linear 0s infinite;
  width: 16px;
  height: 16px;
}

svg.circle-progress .bg {
  @apply stroke-tcsmd-ref-palette-gray-30;
  fill: none;
  stroke-width: 2px;
}

svg.circle-progress .progress {
  @apply animate-loader fill-none stroke-tcsmd-ref-palette-blue-60;
  stroke-width: 2px;
  stroke-linecap: round;
}

@keyframes rotating {
  100% {
    transform: rotate(360deg);
  }
}

