/* figma define : https://www.figma.com/file/FPcYhygcr22tZS08P7hFF8/branch/br6Diik6cv6zQUvrit6RQV/%F0%9F%8F%A0-Consumer-Tonic---UI-Components?type=design&node-id=24061-21012&mode=design&t=ym52N9tlll785all-0 */


.tcsmd-input {
  position: relative;

  &[suffix] .tcsmd-input__inner {
    padding-right: 30px;
  }

  &[prefix] .tcsmd-input__inner {
    padding-left: 30px;
  }

  .tcsmd-input__inner {

    ~ .tcsmd-input--prefix {
      position: absolute;
      left: 8px;
      text-align: center;
      color: #c0c4cc;
      transition: all .3s;
      pointer-events: none;
    }

    ~ .tcsmd-input--suffix {
      position: absolute;
      height: 100%;
      right: 8px;
      text-align: center;
      color: #c0c4cc;
      transition: all .3s;
      pointer-events: none;
    }

    &.xs ~ .tcsmd-input--prefix {
      top: 5px;
    }

    &.xs ~ .tcsmd-input--suffix {
      top: 5px;
    }

    ~ .tcsmd-input--prefix {
      top: 8px;
    }

    ~ .tcsmd-input--suffix {
      top: 8px;
    }

    &.md ~ .tcsmd-input--prefix {
      top: 8px;
    }

    &.md ~ .tcsmd-input--suffix {
      top: 8px;
    }

    &.lg ~ .tcsmd-input--prefix {
      top: 12px;
    }

    &.lg ~ .tcsmd-input--suffix {
      top: 12px;
    }
  }

  .tcsmd-input__inner {
    /* enabled . filled */
    min-width: 280px;
    border-width: 1px;
    border-color: #8e8e8e;
    border-style: solid;
    border-radius: 4px;
    color: #222222;
    padding: 3px 8px;
    font-size: 14px;
    line-height: 16px;
    min-height: 32px;

    &::placeholder {
      @apply text-tcsmd-ref-palette-gray-50;
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
    }

    &:disabled, &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    &.error {
      border-color: #ed0008;

      &:hover, &.hover {
        border-color: #b00c0c;
      }

      &:focus, &.focus {
        border-color: #ed0008;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(243, 20, 20, 0.25);
      }
    }

    &:hover, &.hover {
      border-color: #0074e8;
    }

    &.loading {

    }

    &:focus, &.focus {
      outline: 0;
      border-color: #0074e8;
      caret-color: #0074e8; /* 閃爍的游標顏色 */
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    &.xs {
      min-height: 24px;
    }

    &.md {
      min-height: 32px;
    }

    &.lg {
      min-height: 40px;
    }
  }
}

