/* https://fontello.com/ - svg to @font-face ~ https://yunusozcan.medium.com/how-to-create-icon-font-like-font-awesome-ce32ea7c7385 */

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: inherit;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

svg.circle-progress {
  animation: rotating 2s linear 0s infinite;
  width: 24px;
  height: 24px;
}

svg.xs.circle-progress {
  width: 16px;
  height: 16px;
}

svg.circle-progress .bg {
  fill: none;
  stroke-width: 2px;
  stroke: currentColor; /* inherit text-color */
  opacity: 0.4;
}

svg.circle-progress .progress {
  @apply animate-loader fill-none stroke-current;
  stroke-width: 2px;
  stroke-linecap: round;
}
