@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 72rem) {
  :root {
    --sl-content-width: 65rem;
  }
}

@media (min-width: 50rem) {
  .sidebar-pane {
    border: none;
  }
}

body {
  background-color: var(--colors--tcsmd-ref-palette-gray-20);
}

.content-panel + .content-panel {
  overflow: auto;
  /*scroll-behavior: smooth;*/
  height: calc(100vh - var(--sl-nav-height) - var(--sl-mobile-toc-height) - (var(--sl-text-5xl) * var(--sl-line-height)) - (2 * var(--sl-nav-pad-x)));
}

main[data-pagefind-body] {
  padding-bottom: 0;
}

.header {
  background-color: var(--sl-color-bg-sidebar);
}

/* starlight styles : https://github.com/withastro/starlight/blob/main/packages/starlight/style/props.css */
