@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 72rem) {
  :root {
    --sl-content-width: 65rem;
  }
}

.content-panel + .content-panel {
  overflow: auto;
  height: calc(100vh - var(--sl-nav-height) - (var(--sl-text-5xl) * var(--sl-line-height)) - (2 * var(--sl-nav-pad-x)));
}

main[data-pagefind-body] {
  padding-bottom: 0;
}
